In [32]:
import pandas as pd
import numpy as np
data = pd.read_csv("train.csv")

In [34]:
data=data.values

In [35]:
data

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [36]:
surv = data[:,1:3]

surv

In [37]:
surv

array([[0, 3],
       [1, 1],
       [1, 3],
       ...,
       [0, 3],
       [1, 1],
       [0, 3]], dtype=object)

In [40]:
def calculate(n):
    ones =0
    zeroes=0
    for i in range (0,891):
        if surv[i][1]==n:
            if surv[i][0]==1:
                ones = ones + 1
            else:
                zeroes = zeroes +1
    return(ones,zeroes)

In [43]:
surv11,surv10 = calculate(1)
surv21,surv20 = calculate(2)
surv31,surv30 = calculate(3)

surv1

In [47]:
print(surv11,surv10,sur)

136 80

In [48]:
rate1 = surv11/(surv11+surv10)
rate2 = surv21/(surv21+surv20)
rate3 = surv31/(surv31+surv30)
print(rate1,rate2,rate3)

0.6296296296296297 0.47282608695652173 0.24236252545824846

In [10]:
#third question
import pandas as pd
import numpy as np
data2 = pd.read_csv("train.csv")
data=data2.columns

In [11]:
data

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
values = data2.values

In [13]:
import math
for i in range(0,11):
    sum_i=0
    for j in range(0,891):
        if type(values[:,i][j]) !=str :
            if math.isnan( values[:,i][j] ):
                sum_i = sum_i + 1
    print("in cloumn  ",i," ",sum_i )

in cloumn   0   0
in cloumn   1   0
in cloumn   2   0
in cloumn   3   0
in cloumn   4   0
in cloumn   5   177
in cloumn   6   0
in cloumn   7   0
in cloumn   8   0
in cloumn   9   0
in cloumn   10   687

In [37]:
#fourth question
import pandas as pd
import numpy as np
import math
data4 = pd.read_csv("train.csv")
data=data4.columns

In [38]:
values = data4.values
value_age = values[:,5]

In [39]:
a=[]
for i in range(0,891):
    if math.isnan(value_age[i]):
        1
    else:
        a.append(value_age[i])

In [40]:
a.sort()

In [44]:
median = (a[306]+a[307])/2

median found

replace every required age with median

In [45]:
median

26.0

In [46]:
for i in range(0,891):
    if math.isnan(value_age[i]):
        value_age[i]=median
    else:
        1

In [51]:
#fifth question
import pandas as pd
import numpy as np
data5 = pd.read_csv("train.csv")
data=data5.columns

In [54]:
required_rows=data5.loc[ (data5["Age"] >60 ) & ( data5["Survived"]==1 ) ]

In [56]:
required_rows.sort_values( ['PassengerId'] )#fifth question done

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN

In [ ]:
a